<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
{% include 'navBar/navBar.view.twig' %}

<div class="container-fluid">
    <div class="row text-center my-5 p5">
        {% if user.email != 'guest' %}
            <h5>Hello, {{ user.name }}</h5>
        {% endif %}
        <h2 style="text-decoration: underline chocolate; text-decoration-thickness: 2px">Search worldwide news</h2>
        <h3>Use preset categories or enter a <label for="search" style="text-decoration: underline chocolate ">search
                query</label></h3>
    </div>
</div>

</body>
</html>